<div class="center">
<section class="social">
    <a href="https://www.facebook.com/rwmaaweb" target="_blank" rel="noopener noreferrer">
        <img src="/images/logos/facebook.wix_mp" alt="facebook logo" />
    </a>
    <a href="rwmaaweb@gmail.com"  target="_blank" rel="noopener noreferrer">
        <img src="/images/logos/email.webp" alt="email icon" />
    </a>
    <a href="https://www.youtube.com/channel/UC5J-Exom-Si-MkhRgH20g0w/videos" target="_blank" rel="noopener noreferrer">
        <img src="/images/logos/youtube.webp" alt="youtube icon" />
    </a>
    <a href="https://instagram.com/rwmaaweb" target="_blank" rel="noopener noreferrer">
        <img src="/images/logos/instagram.webp" alt="instagram icon" />
    </a>
    <a href="https://twitter.com/rwmaaweb" target="_blank" rel="noopener noreferrer">
        <img src="/images/logos/twitter.webp" alt="twitter icon" />
    </a>
</section>
</div>
<p>195 S State St. Lindon, UT 84042 E-mail: miskyukido@gmail.com Tel: 801-360-2078</p>
<p>The premiere Taekwondo school in Salt Lake and Utah Counties! With locations in 
    West Valley and Lindon, Utah, we are here to provide the highest quality 
    Taekwondo instruction to you and your family!

</p>
&copy;Royal West Martial Arts
